@media screen and (max-width:415px){
      main {
          width: 100vw;
          height: 80vh;
          display: flex;
          flex-direction: column;
      }  .one {
        height: 60vh;
        width: 100vw;
        }  .two {
        height: 20vh;
        width: 100vw;
      }

}